<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstKadaiApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E4A62DE1F9E1D99008CA257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E4A62F21F9E1D99008CA257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E4A62FD1F9E1D99008CA257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
